.App {
  text-align: center;
}

#game {
  display: flex;
  justify-content: space-evenly;
}

.gameboard {
  display: grid;
  grid-template: auto / repeat(10, 1fr);
  border: 1px solid;
  max-width: 550px;
}

.gameboard div {
  background-color: blue;
  border: 1px solid;
  min-width: 50px;
  min-height: 50px;
}

.gameboard .ship {
  background-color: pink;
}

.gameboard .hidden {
  background-color: grey;
}