.App {
  text-align: center;
}

#game {
  display: flex;
  justify-content: space-around;
}

#ship-container {
  width: 100%;
  max-width: 510px;
  height: 510px;
  background-color: rgb(114, 209, 173);
  overflow-y: scroll;
}

.ship-prop {
  display: inline-block;
  align-self: start;
  width: fit-content;
  margin: 1.5rem 1.5rem 0 1.5rem;
}

.ship-prop div {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: pink;
  border: 1px solid grey;
}


.board-container { position: relative }

.gameboard,
.board-mask {
  /* margin: 2rem; */
  align-self: start;
  /* border: 1px red solid; */
  display: grid;
  grid-template: auto / repeat(10, 1fr);
  max-width: 550px;
}

.gameboard div,
.board-mask div {
  width: 50px;
  height: 50px;
  /* min-width: 50px;
  max-width: 50px;
  max-height: 50px;
  min-height: 50px; */
}

.board-mask {
  border: 1px solid yellow;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}


/* .gameboard .blank { background-color: rgb(79, 150, 231) } */

/* .gameboard .ship { background-color: pink } */

.hidden { background-color: grey }

.unhidden { background-color: transparent }

.shaded { background-color: rgba(0, 0, 0, 0.25) }